# Dependências
node_modules/

# Logs de execução
logs/
*.log
npm-debug.log*
yarn-debug.log*

# Variáveis de ambiente reais (dados sensíveis)
.env
.env.local

# Arquivos do Sistema Operacional
.DS_Storess
